

.bg-leaf {
    /* 11, 7, 4 */
    background-image: url(../../img/backgrounds/leafs4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-contact {
    background-image: url(../../img/backgrounds/leafs11.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}