

@media (min-width: 768px) {

    .bg-contact-left {
        background-image: url(../../img/illustrations/contact/left.webp);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: var(--inset-shadow);
        border: var(--border-first-solid);
    }

    .bg-contact-right {
        background-image: url(../../img/illustrations/contact/right.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: var(--inset-shadow);
        border: var(--border-first-solid);
    }

}



@media (min-width: 1200px) {

    

}