

@media (min-width: 768px) {

    .bg-contact-left {
        background-image: url(../../img/illustrations/beautiful-spa-composition-massage-table-wellness-center-copyspace.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: var(--inset-shadow);
        border: var(--border-first-solid);
    }

    .bg-contact-right {
        background-image: url(../../img/illustrations/top-view-assortment-make-up-beauty-products.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: var(--inset-shadow);
        border: var(--border-first-solid);
    }

}



@media (min-width: 1200px) {

    

}