


.dashboard-form {
    width: 95%;
}

.form-div {
    width: 100%;
}


.schedules-form {
    width: 100%;
}

.schedules {
    width: 100%;
    padding: 0;
}

.schedules li {
    border-bottom: var(--border-special-solid);
    list-style: none;
}

.schedules .form-label {
    width: 90%;
    font-family: var(--special-font);
    font-size: 1.7rem;
    margin-bottom: 0;
}

.schedules .form-control {
    height: 40px;
}

.schedules .form-check-label {
    font-size: 1.2rem;
}


.announcement-btns {
    width: 90%;
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

/* -------------------------------------------- */
/* TABLETTE */

@media (min-width: 768px) {

    .dashboard-form {
        width: 65%;
    }

    .schedules {
        width: 90%;
    }

    .schedules .form-label {
        width: 30%;
    }

    .announcement-btns {
        width: 80%;
    }
}


/* -------------------------------------------- */
/* GRAND ECRAN */

@media (min-width: 1200px) {

    .dashboard-form {
        width: 70%;
    }

    .schedules {
        width: 95%;
    }

    .schedules .form-label {
        width: 20%;
        font-size: 1.5rem;
    }

    .schedules .form-control {
        width: 20%;
    }

    .announcement-btns {
        width: 70%;
    }
}


/* -------------------------------------------- */
/* TRES GRAND ECRAN */

@media (min-width: 1400px) {

    .dashboard-form {
        width: 50%;
    }

    .schedules {
        width: 70%;
    }

    .schedules .form-label {
        width: 20%;
        font-size: 1.7rem;
    }

    .schedules .form-control {
        width: 20%;
    }

    .announcement-btns {
        width: 70%;
    }
}