

.dashboard-background {
    background-image: url(../../img/backgrounds/bois.jpg);
    background-size: cover;
}


.dashboard-link {
    position: relative;
    width: 100%;
    color: var(--main-color);
    background-color: var(--first-color);
    border: var(--border-light-strong-solid);
    border-radius: 25px;
    box-shadow: var(--box-shadow);
}

.dashboard-link:hover {
    color: var(--light-green);
    background-color: var(--second-color);
    border: var(--border-light-green-very-strong-solid);
}

.dashboard-icon {
    font-size: 5rem !important;
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (min-width: 768px)  {

    .dashboard-link {
        width: 80%;
    }

}


@media (min-width: 1200px)  {

    .dashboard-link {
        width: 50%;
    }

}