

.backgroundBookTitle {
    background-image: url(../../img/backgrounds/leafs11.avif);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    height: 55vh;
    border-bottom: var(--border-first-solid);
    box-shadow: var(--inset-shadow);
}




/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* ECRIRE UN COMMENTAIRE */

.commentWrittingBackground {
    background-image: url(../../img/backgrounds/bois.jpg);
    box-shadow: var(--inset-shadow);
    border-top: var(--border-brown-solid);
    border-bottom: var(--border-brown-solid);
    transform: translateY(100%);
    /* transform: scaleY(0); */
    opacity: 0;
    transition: transform 0.3s ease-in-out;
    animation: 0.9s titleAnimation cubic-bezier(0, 0.55, 0.45, 1) forwards;
    width: 100%;
}

.commentWritting{
    width: 100%;
}

#commentary {
    height: 250px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* COMMENTAIRES */

.commentarySpace {
    border-right: var(--border-first-solid);
}

.comment, .hrBook {
    width: 90%;
}

.comment {
    background-image: url(../../img/backgrounds/leafs11.avif);
    border: var(--border-light-green-solid);
}

.bi-person-circle {
    font-size: 1.3rem;
}

.commentary {
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: var(--inset-shadow);
}

.commentContent {
    overflow-y: auto;
    margin: 0;
}

.commentContent::-webkit-scrollbar {
    width: 0.3em;
}

.hrBook {
    border: var(--border-light-green-solid);
    opacity: 1;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (min-width: 768px)  {

    
}

@media (min-width: 1200px) {

    .commentContent {
        height: 120px;
    }
}