

.presentation-text p {
    width: 100%;
    border: var(--border-special-strong-solid);
    outline: var(--border-first-medium-solid);
    outline-offset: 15px;
    box-shadow: var(--box-light-shadow);
}

.services-index-img {
    height: 650px;
    width: 100%;
    object-fit: cover;
}






@media (min-width: 768px)  {

    .presentation-text p {
        width: 70%;
    }

}