

.backgroundMainTitle {
    background-image: url(../../img/backgrounds/main.jpg);
    background-attachment: fixed;
    height: 55vh;
    border-bottom: var(--border-first-solid);
    box-shadow: var(--inset-shadow);
}

h2 {
    width: 95%;
    background-color: var(--main-color);
    color: var(--brown-color);
    /* color: var(--special-color); */
    font-weight: bold;
    border: var(--border-first-solid);
    outline: var(--border-first-solid);
    outline-offset: -10px;
    margin: 0;
    /* box-shadow: var(--inset-shadow); */
}

.backTitle {
    position: absolute;
    width: 90%;
    border: var(--border-first-solid);
    background-image: url(../../img/backgrounds/main.jpg);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: var(--box-light-shadow);
}

.ruban {
    position: relative;
    /* background-color: var(--first-color); */
    border-top: var(--border-first-strong-solid);
    border-bottom: var(--border-first-strong-solid);
    height: 40px;
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* PRESENTATION */

.carousel-item img {
    height: 400px;
    width: 500px;
    object-fit: cover;
    border-radius: 50px;
}

.textPresentation {
    
    /* background-color: var(--first-color); */
    /* color: var(--main-color); */
    /* border: var(--border-special-solid); */
    /* box-shadow: var(--inset-shadow); */
    /* outline: var(--border-first-solid);
    outline-offset: 15px; */
}

.textPresentation p {
    width: 100%;
    border: var(--border-special-strong-solid);
    outline: var(--border-first-medium-solid);
    outline-offset: 15px;
    box-shadow: var(--inset-shadow);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* PRESTATIONS */

#services {
    background-image: url(../../img/backgrounds/bois.jpg);
    box-shadow: var(--inset-shadow);
}

.colServices {
    background-image: url(../../img/backgrounds/main.jpg);
    border: var(--border-special-solid);
    box-shadow: var(--box-shadow);
}

.services {
    background-color: var(--main-color);
    border: var(--border-special-solid);
    box-shadow: var(--box-light-shadow);
}

.services h3 {
    background-color: var(--third-color);
    color: var(--main-color);
    padding: 10px 0px 10px;
    box-shadow: var(--inset-shadow);
    text-shadow: var(--text-shadow);
}

.services img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* ENDROIT / HORAIRES */


#map {
    height: 70vh;
    width: 100%;
    border: var(--border-brown-solid);
    box-shadow: var(--box-light-shadow);
}

.scheduleBoard {
    background-image: url(../../img/backgrounds/bois.jpg);
    background-size: cover;
    color: var(--main-color);
    font-size: 1.2rem;
    border: var(--border-brown-solid);
    box-shadow: var(--box-light-shadow);
    text-shadow: var(--text-shadow);
    width: 100%;
}

.scheduleBoard h3 {
    font-size: 2.5rem;
}

.scheduleBoard ul {
    padding: 0;
    list-style: none;
}

.informations h3 {
    width: 100%;
    background-image: url(../../img/backgrounds/bois.jpg);
    background-size: cover;
    border: var(--border-brown-solid);
    font-size: 2rem;
    color: var(--main-color);
    box-shadow: var(--box-light-shadow);
    text-shadow: var(--text-shadow);
}

.informations p, .informations a {
    color: var(--dark-font);
    font-size: 1.2rem;
}

.informations a:hover {
    color: var(--first-color);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (min-width: 768px)  {

    .backgroundMainTitle {
        height: 35vh;
    }

    /* ------------------------------------------------- */

    #lottieAnnouncement {
        width: 15%;
    }

    #announcement p {
        font-size: 1.1rem;
    }
    
    #announcement span {
        font-size: 2rem;
        color: var(--special-color);
    }

    /* ------------------------------------------------- */

    .backTitle {
        width: 70%;
    }

    h2 {
        width: 95%;
    }

    .textPresentation p {
        width: 70%;
    }

    .carousel-item img {
        height: 700px;
    }

    /* ------------------------------------------------- */

    .services img {
        height: 50%;
    }

    .contentService {
        height: 400px;
    }

    .contentService div {
        height: 50%;
    }

    /* ------------------------------------------------- */

    #map {
        height: 40vh;
    }

    .informations h3 {
        width: 70%;
    }

    .informations div:first-child {
        border-right: var(--border-first-solid);
    }

    .scheduleBoard {
        width: 50%;
    }
}


@media (min-width: 1200px) {

    .backgroundMainTitle {
        height: 55vh;
    }

    /* ------------------------------------------------- */

    #lottieAnnouncement {
        width: 8%;
    }

    #announcement p {
        font-size: 1.5rem;
    }
    
    #announcement span {
        font-size: 4rem;
        color: var(--special-color);
    }

    /* ------------------------------------------------- */

    .backTitle {
        width: 50%;
    }

    h2 {
        width: 98%;
    }

    /* ------------------------------------------------- */

    .carousel-item img {
        height: 700px;
        width: 500px;
    }

    /* ------------------------------------------------- */

    .contentService {
        height: 230px;
    }

    .services img {
        width: 50%;
        height: 100%;
    }

    .contentService div {
        width: 50%;
        height: 100%;
    }

    /* ------------------------------------------------- */

    #map {
        height: 50vh;
    }

    .scheduleBoard {
        width: 80%;
    }

    .informations div:last-child {
        border-left: var(--border-first-solid);
    }
}