
.uniques-section {
    background-color: #2f5b0e28;
}

.package-section {
    background-color: #c0855248;
}

.special-section {
    background-color: #e768993d;
}

.special-section .service, .uniques-section .service, .package-section .service {
    background-color: var(--main-color);
}

.uniques-section .service {
    border: var(--border-third-medium-solid);
}

.special-section .service {
    border: var(--border-dark-special-medium-solid);
}

.package-section .service {
    border: var(--border-brown-solid);
}


.services-line-img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.service-line {
    border-bottom: var(--border-third-medium-solid);
}

.service-line-odd {
    border-bottom: var(--border-light-green-medium-solid);
}

.service-line p, .service-line-odd p {
    margin: 0;
}

.lines-service-div {
    width: 90%;
}

.lines-service-div .sideline-title {
    font-size: 1.7rem;
}

.lines-service-div .new-service {
    font-size: 1.2rem;
}

.badges-div {
    width: 90%;
}





/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */


/* -------------------------------------------- */
/* TABLETTE */

@media (min-width: 758px) {

    .lines-service-div {
        width: 60%;
    }

    .lines-service-div .sideline-title {
        font-size: 1.5rem;
    }

    .badges-div {
        width: 20%;
        height: 100%;
    }

}


/* -------------------------------------------- */
/* GRAND ECRAN */

@media (min-width: 1200px) {

    .lines-service-div {
        width: 55%;
    }

    .badges-div {
        width: 35%;
    }

}


/* -------------------------------------------- */
/* TRES GRAND ECRAN */

@media (min-width: 1400px) {

    .lines-service-div {
        width: 60%;
    }

    .badges-div {
        width: 30%;
    }

}