/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* PRESTATIONS */

.background-services {
    position: relative;
    background-image: url(../../img/backgrounds/leafs4.jpg);
    border: var(--border-brown-thin-solid);
    box-shadow: rgba(27, 70, 33, 0.39) 0px 7px 29px 0px;
}

.badge-new::after {
    position: absolute;
    content: 'Nouveauté';
    font-size: 1.1rem;
    font-family: var(--special-font);
    color: var(--main-color);
    text-align: center;
    top: 7%;
    left: 70%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 35%;
    transform: rotate(48deg);
    background-color: var(--gold-color);
    box-shadow: var(--box-light-shadow);
}

.services {
    background-color: var(--main-color);
    background-image: url(../../img/backgrounds/bois2.jpg);
    /* color: var(--main-color); */
    font-size: 1.1rem;
    /* font-weight: bold; */
    /* letter-spacing: 1px; */
    border: var(--border-brown-thin-solid);
    box-shadow: var(--box-light-shadow);
}

.services h3 {
    background-color: var(--third-color);
    color: var(--main-color);
    padding: 10px 0px 10px;
    box-shadow: var(--inset-shadow);
    text-shadow: var(--text-shadow);
}

.services p {
    /* text-shadow: var(--text-shadow); */
    font-weight: bold;
}

.services img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: var(--border-brown-thin-solid);
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */


/* -------------------------------------------- */
/* TABLETTE */

@media (min-width: 768px)  {

    .content-services {
        height: 410px;
    }

    .content-services div {
        height: 50%;
    }

    .content-services p {
        overflow-y: auto;
    }

    .content-services p::-webkit-scrollbar {
        width: 7px;
    }

}


/* -------------------------------------------- */
/* GRAND ECRAN */

@media (min-width: 1200px)  {

    .content-services {
        height: 250px;
    }

    .services img {
        width: 50%;
        height: 100%;
    }

    .content-services div {
        width: 50%;
        height: 100%;
    }

    .badge-new::after {
        top: 10%;
        left: 75%;
        height: 25px;
        width: 30%;
    }
}

