:root {

    --main-color: #fdf3fd;

    --light-green:#c2ddad;
    --first-color: #3f7715;
    --second-color: #2f5b0e;
    --third-color: #6fa348;
    --fourth-color: #c08552;
    
    --special-color: #fb8bdb;
    --special-dark-color: #e76899;

    --dark-font: #212529;
    --light-font: #fdf3fd;
    --danger-color: #b2161a;

    --main-filter-color: #fdf3fdbb;
    --second-filter-color: #2f5b0e8c;

    --special-font: 'Petrona', serif;
    --main-font: 'Sen', sans-serif;

    --font-normal-size: 1rem;
    --font-ideal-size: 1.2rem;
    --font-medium-size: 1.5rem;
    --font-tall-size: 2rem;

    --border-special-solid: #fb8bdb 1px solid;
    --border-special-strong-solid: #fb8bdb 10px solid;
    --border-first-solid: #3f7715 1px solid;
    --border-second-solid: #2f5b0e 3px solid;
    --border-third-solid: #c08552 1px solid;

    --border-first-strong-solid: #3f7715 10px solid;

    --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --box-light-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    --inset-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    --text-shadow: 1px 1px 4px #3B3939;
}