
/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* GÉNÉRAL */


body {
    color: var(--main-dark-color);
    font-family: var(--main-font);
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--special-font);
}

h1 {
    background-color: var(--second-filter);
    color: var(--first-color);
    text-shadow: var(--text-shadow);
    font-size: 2.5rem;
    width: 100%;
    padding: 20px;
}

a {
    text-decoration: none;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* SPÉCIFIQUE */




/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (min-width: 768px) and (max-width: 1200px)  {

    h1 {
        font-size: 6rem;
    }
}


@media (min-width: 1200px) {

    h1 {
        font-size: 7rem;
    }
}