
/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* GÉNÉRAL */


body {
    color: var(--main-dark-color);
    font-family: var(--main-font);
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--special-font);
}

h1 {
    font-size: 2.5rem;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transform: translateY(100%);
    animation: 0.9s titleAnimation cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

.titleContainer {
    width: 100%;
    background-color: var(--main-filter-color);
    color: var(--special-color);
    border-top: var(--border-special-solid);
    border-bottom: var(--border-special-solid);
    box-shadow: var(--box-light-shadow);
    text-shadow: var(--text-shadow);
}

a {
    text-decoration: none;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* SPÉCIFIQUE */

.italic {
    font-style: italic;
}

.text-green {
    color: var(--third-color);
}

.text-brown {
    color: var(--brown-color);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (min-width: 768px) {

    h1 {
        font-size: 6rem;
    }
}


@media (min-width: 1200px) {

    h1 {
        font-size: 7rem;
    }
}