/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* BOUTONS CLASSIQUES */

.btn {
    background-color: var(--special-color);
    color: var(--light-font);
    font-weight: bold;
    border: var(--border-light-solid);
    box-shadow: var(--box-light-shadow);
    transition: 2s;
}

.btn:hover {
    background-color: var(--special-dark-color);
    color: var(--light-font);
    border: var(--border-light-solid);
}

.btn-outline {
    background-color: transparent;
    color: var(--special-dark-color);
    border: var(--border-dark-special-solid);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* BOUTONS DASHBOARD */

.edit {
    background-color: var(--first-color);
}

.delete {
    background-color: var(--danger-color);
}

.view:hover,
.edit:hover,
.delete:hover {
    background-color: transparent;
    color: var(--first-color);
    border: var(--border-first-solid);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* BOUTONS POUR CHOISIR LA DIFFICULTÉ */

.difficultyLink {
    font-size: var(--font-medium-size);
}

.iconDifficultyBtn {
    width: 20%;
}