/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* BOUTONS CLASSIQUES */

.btn {
    font-size: 1.1rem;
    position: relative;
    width: 100%;
    z-index: 0;
    font-weight: bold;
    box-shadow: var(--box-light-shadow);
    transition: 2s;
}

.btn-classic {
    background-color: var(--special-color);
    color: var(--main-color);
    border: var(--border-light-solid);
}

.btn-classic:hover, .btn-outline:hover {
    background-color: var(--special-dark-color);
    color: var(--main-color);
    border: var(--border-light-solid);
}

.btn-outline {
    background-color: transparent;
    color: var(--special-dark-color);
    border: var(--border-dark-special-medium-solid);
}

.btn .bi {
    font-size: 1.5rem;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* BOUTONS SUPPRESSION DES COMMENTAIRES */

.delete-comment {
    background-color: transparent;
    color: var(--special-color);
    border: var(--border-special-solid);
}

.delete-comment:hover {
    background-color: transparent;
    color: var(--main-color);
    border: var(--border-light-solid);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* BOUTONS DASHBOARD */

.edit {
    background-color: var(--first-color);
}

.delete {
    background-color: var(--danger-color);
}

.view:hover,
.edit:hover,
.delete:hover {
    background-color: transparent;
    color: var(--first-color);
    border: var(--border-first-solid);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (min-width: 768px)  {

    .serviceBtn {
        width: 100% !important;
    }

    .btn.btn-classic, .btn-outline {
        width: 250px;
    }

    .btn.delete-comment {
        width: 150px;
    }

    .btn .bi {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {

    .serviceBtn {
        font-size: 1rem;
    }

    .btn-classic::before, .btn-outline:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.5px;
        height: 0;
        width: 100%;
        background-color: var(--special-dark-color);
        /* border-bottom: var(--border-light-solid); */
        border-radius: 5px;
        opacity: 0;
        transition: 0.7s ease-in-out;
        z-index: -1;
    }
    
    .btn-classic:hover::before, .btn-outline:hover::before {
        height: 100%;
        opacity: 1;
    }

    .delete-comment::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--danger-color);
        border-radius: 5px;
        opacity: 0;
        transform: scaleX(0);
        transition: 0.7s ease-in-out;
        z-index: -1;
    }
    
    .delete-comment:hover::before{
        transform: scaleX(1);
        opacity: 1;
    }
}