/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* BOUTONS CLASSIQUES */

.btn {
    font-size: 1.1rem;
    position: relative;
    width: 100%;
    z-index: 0;
    font-weight: bold;
    box-shadow: var(--box-light-shadow);
    transition: 2s;
}

.btn-classic {
    background-color: var(--special-color);
    color: var(--main-color);
    border: var(--border-light-solid);
}

.btn-classic:hover {
    color: var(--main-color);
    border: var(--border-light-solid);
}

.btn-outline:hover {
    color: var(--main-color);
}

.btn-outline {
    background-color: transparent;
    color: var(--special-dark-color);
    border: var(--border-dark-special-medium-solid);
}

.btn .bi {
    font-size: 1.5rem;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* BOUTONS DASHBOARD */

.view {
    color: var(--main-color);
    border: var(--border-light-medium-solid);
    background-color: var(--third-color);
}

.edit {
    color: var(--main-color);
    border: var(--border-light-medium-solid);
    background-color: var(--special-color);
}

.delete {
    color: var(--main-color);
    border: var(--border-light-medium-solid);
    background-color: var(--danger-color);
}

.validate {
    color: var(--main-color);
    border: var(--border-light-medium-solid);
    background-color: #e3b04c;
}

.view:hover,
.edit:hover,
.delete:hover,
.validate:hover {
    background-color: transparent;
    color: var(--special-dark-color);
    border: var(--border-dark-special-medium-solid);
}

.view,
.edit,
.delete,
.validate {
    width: 55px;
}

.view .bi,
.edit .bi,
.delete .bi,
.validate .bi {
    font-size: 1rem;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (min-width: 768px)  {

    .btn-services {
        width: 100% !important;
    }

    .btn.btn-classic, .btn-outline {
        width: 250px;
    }

    .btn.btn-large {
        width: 400px;
    }

    .btn .bi {
        font-size: 1.2rem;
    }

    .view, .edit, .delete, .validate {
        width: 65px;
    }
}

@media (min-width: 1200px) {

    .btn-services {
        font-size: 1rem;
    }

    .btn-classic::before, .btn-outline:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background-color: var(--special-dark-color);
        border-radius: 5px;
        opacity: 0;
        transition: 0.7s ease-in-out;
        z-index: -1;
    }
    
    .btn-classic:hover::before, .btn-outline:hover::before {
        height: 100%;
        opacity: 1;
    }

    .view, .edit, .delete {
        width: 70px;
    }

}