/* @import url('variables.css'); */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#registerForm .row {
    width: 100%;
}

legend {
    font-family: var(--special-font);
    color: var(--special-color);
    border: var(--border-special-solid);
    box-shadow: var(--box-light-shadow);
}

fieldset {
    height: 100%;
}

.blocForm {
    background-color: var(--main-color);
    border: var(--border-special-medium-solid);
    box-shadow: var(--box-shadow);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* SPÉCIFIQUE */

.form-select {
    background-image: url(../../img/down.png);
}

.form-control, .form-select {
    box-shadow: inset 0 0 10px #cac7c6;
    border: var(--border-special-solid);
    height: 55px;
}

#requestMessage {
    height: 250px;
}

.form-control:focus, .form-select:focus {
    border: var(--border-dark-special-medium-solid);
    box-shadow: none;
}

.form-check-input {
    border: var(--border-special-solid);
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0;
}

.form-check-input:checked {
    background-color: var(--special-dark-color);
    box-shadow: #fb8bdb 0 0 4px;
    border: var(--border-special-solid);
}

.form-check-input:focus {
    box-shadow: #fb8bdb 0 0 4px;
    border: var(--border-special-solid);
}

.forgotten {
    color: var(--special-color);
    text-decoration: underline;
    transition: 0.7s;
}

.forgotten:hover {
    color: var(--special-dark-color);
}






@media (min-width: 768px) and (max-width: 1200px)  {

}

@media (min-width: 1200px) {

}


/* PARTIE THEME CATEGORIE */

.form-control.updateInput {
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 40px;
    /* width: 30%; */
}

.updateInput:focus {
    background-color: #f1e5cc;
    border: none;
    box-shadow: none;
}

.updateBtn {
    width: 50%;
}

.btnSubmitAdd {
    height: 55px;
}