
/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* NAVIGATION PRINCIPALE */

.mainNav {
    font-family: var(--special-font);
    background-color: var(--first-color);
    border-bottom: var(--border-second-solid);
    font-weight: normal;
}


/* ------------------------------------------------- */
/* navbar-brand */

.navbar-brand {
    color: var(--main-color);
    font-size: 1rem;
    margin: 0;
}

.navbar-brand:hover {
    color: var(--light-green) !important;
}

.navbar-brand img {
    width: 20%;
    height: 20%;
}

/* ------------------------------------------------- */
/* nav-link */

.mainNav .nav-link {
    position: relative;
    font-size: 1.2rem;
    color: var(--main-color);
}

.mainNav .nav-link:hover {
    color: var(--light-green);
}

.mainNav .nav-link.active {
    color: var(--special-color);
    border-top: var(--border-special-solid);
    border-bottom: var(--border-special-solid);
}

.mainNav .nav-link.active:hover {
    color: var(--second-color);
    border-top: var(--border-second-solid);
    border-bottom: var(--border-second-solid);
}


/* ------------------------------------------------- */
/* special nav-link */



.connectionLink {
    border: var(--border-light-solid);
    outline: var(--border-light-solid);
    outline-offset: 7px;
    transition: 1s;
}

.connectionLink:hover {
    border: var(--border-light-green-solid);
    outline: var(--border-light-green-solid);
}


/* ------------------------------------------------- */
/* dropdown */

.dropdown-menu {
    background-color: var(--second-color);
    box-shadow: var(--inset-shadow);
}

.dropdown-item {
    color: var(--main-color);
}

.dropdown-item:hover {
    background-color: var(--first-color);
    color: var(--main-color);
    border-top: var(--border-brown-solid);
    border-bottom: var(--border-brown-solid);
    box-shadow: var(--inset-shadow);
}

/* ------------------------------------------------- */
/* autres */

.offcanvasColor {
    background-color: var(--first-color);
    color: var(--main-color);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* PAGINATION */

.page-link {
    background-color: var(--special-color);
    color: var(--main-color);
}

.page-link:hover {
    background-color: var(--special-dark-color);
    color: var(--main-color);
}

.page-link.active {
    background-color: var(--special-dark-color);
    border: var(--border-second-solid);
    color: var(--main-color);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* FOOTER */

footer {
    background-color: var(--first-color);
    color: var(--main-color);
    font-family: var(--special-font);
    font-weight: normal;
    border-top: var(--border-second-solid);
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer a {
    color: var(--main-color);
}

footer a:hover {
    color: var(--light-green);
}

#socialNetwork .bi {
    font-size: 2.5rem;
}

#contact .bi {
    font-size: 1.5rem;
}

footer span {
    font-weight: bold;
}

footer hr {
    width: 70%;
}

.footerTitle {
    position: relative;
}

.footerTitle::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5px;
    width: 50px;
    height: 2px;
    background: var(--main-color);
    transition: .5s;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (min-width: 768px) and (max-width: 1200px)  {
}


@media (min-width: 1200px) {

    .navbar-brand {
        color: var(--main-color);
        font-size: 1.2rem;
    }
    
    .navbar-brand:hover {
        color: var(--second-color);
    }
    
    .navbar-brand img {
        width: 20%;
        height: 20%;
    }
    
    .mainNav .nav-link {
        font-size: 1.2rem;
        color: var(--main-color);
    }

    .hoverAfter::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.5px;
        width: 100%;
        height: 3px;
        background: var(--main-color);
        transform: scaleX(0);
        transition: .5s;
    }
    
    .hoverAfter:hover::after{
        transform: scaleX(1);
    }

    .footerAfter {
        position: relative;
    }

    .footerAfter::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background: var(--main-color);
        transform: scaleX(0);
        transition: .5s;
    }
    
    .footerAfter:hover::after{
        transform: scaleX(1);
    }
}