




.separator {
    background-image: url(../../img/backgrounds/main.jpg);
    background-attachment: fixed;
    border-top: var(--border-first-solid);
    border-bottom: var(--border-first-solid);
    width: 100%;
    height: 7vh;
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (min-width: 768px)  {

    .separator {
        height: 6vh;
    }
}


@media (min-width: 1200px) {

    .separator {
        height: 5vh;
    }
}