



hr {
    border: var(--border-light-green-medium-solid);
    width: 70%;
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (min-width: 768px)  {

    .line {
        height: 3px;
        width: 20%;
        background-color: var(--special-color);
    }
}


@media (min-width: 1200px) {

    
}