

/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* BANDEROLE DE PROMOTIONS */

#announcement {
    background-size: 20px 20px;
    background-image: url(../../img/backgrounds/bois.jpg);
    background-size: cover;
    border-bottom: var(--border-brown-solid);
    overflow-x: hidden;
}

.announcement-icon {
    font-size: 3rem;
    color: var(--main-color);
    text-shadow: var(--text-shadow);
}

.announcement-double {
    display: none !important;
}

#announcement p {
    font-size: 1.2rem;
    color: var(--main-color);
    text-shadow: var(--text-shadow);
}

#announcement span {
    font-size: 2rem;
    color: var(--special-color);
    text-shadow: 1px 0 #fdf3fd, -1px 0 #fdf3fd, 0 1px #fdf3fd, 0 -1px #fdf3fd, 1px 1px #fdf3fd, -1px -1px #fdf3fd, 1px -1px #fdf3fd, -1px 1px #fdf3fd;
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */


/* -------------------------------------------- */
/* TABLETTE */

@media (min-width: 768px)  {

    /* ------------------------------------------------- */

    .announcement-icon {
        font-size: 3.5rem;
    }

    .announcement-content .col {
        position: relative;
    }

    .announcement-double {
        display: flex !important;
        position: absolute;
        left: 100%;
    }

    .announcement-content {
        animation: parade 20s linear infinite;
    }

    #announcement p {
        font-size: 1.2rem;
    }
    
    #announcement span {
        font-size: 2.3rem;
    }

    /* ------------------------------------------------- */

}


/* -------------------------------------------- */
/* GRAND ECRAN */

@media (min-width: 1200px) {

    /* ------------------------------------------------- */

    .announcement-icon {
        font-size: 5rem;
    }

    #announcement p {
        font-size: 1.8rem;
    }
    
    #announcement span {
        font-size: 4rem;
        color: var(--special-color);
    }

    /* ------------------------------------------------- */

}