

/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* BANDEROLE DE PROMOTIONS */

#announcement {
    background-color: #f5cae9;
    background-size: 20px 20px;
    /* background-image: repeating-linear-gradient(45deg, #fdf3fd 0, #fdf3fd 1px, #f5cae9 0, #f5cae9 50%); */
    background-image: repeating-linear-gradient(45deg, #f5cae9 0, #f5cae9 1px, #fdf3fd 0, #fdf3fd 50%);
    border-bottom: var(--border-special-solid);
    /* box-shadow: var(--inset-shadow); */
}

#lottieAnnouncement {
    width: 40%;
}

#announcement p {
    font-size: 1.2rem;
}

#announcement span {
    font-size: 2rem;
    color: var(--special-color);
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (min-width: 768px)  {

    /* ------------------------------------------------- */

    #lottieAnnouncement {
        width: 15%;
        
    }

    /* .annoucementContent {
        animation: parade 20s linear infinite;
    } */

    #announcement p {
        font-size: 1.1rem;
    }
    
    #announcement span {
        font-size: 2rem;
        color: var(--special-color);
    }

    /* ------------------------------------------------- */

}


@media (min-width: 1200px) {

    /* ------------------------------------------------- */

    #lottieAnnouncement {
        width: 8%;
    }

    #announcement p {
        font-size: 1.5rem;
    }
    
    #announcement span {
        font-size: 4rem;
        color: var(--special-color);
    }

    /* ------------------------------------------------- */

}