

.table-responsive {
    width: 100%;
}

.table-responsive::-webkit-scrollbar {
    height: 4px;
}

tr {
    height: 60px;
}

th {
    color: var(--first-color);
}

tr:not(thead tr) {
    border: var(--first-color);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--second-filter-color);
}

.table-news tbody tr:nth-of-type(odd) {
    background-color: var(--brown-filter-color);
}

.table-news th {
    color: var(--brown-color);
}


/* ---------------------------------------- */
/* Badges du tableau */

.badge-type {
    color: var(--main-color);
    background-color: #e3b04c;
}

.table-time {
    width: 70px;
    color: var(--main-color);
    background-color: var(--first-color);
}

.table-price {
    width: 70px;
    color: var(--main-color);
    background-color: var(--brown-color);
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */


/* -------------------------------------------- */
/* TABLETTE */

@media (min-width: 768px) {

    .table-responsive {
        width: 90%;
    }
}


/* -------------------------------------------- */
/* GRAND ECRAN */

@media (min-width: 1200px) {

    .table-responsive {
        width: 70%;
    }
}