

.table-responsive {
    width: 100%;
}

.table-responsive::-webkit-scrollbar {
    height: 4px;
}

tr {
    height: 60px;
}

th {
    color: var(--first-color);
}

tr:not(thead tr) {
    border: var(--first-color);
}

.table-group-divider {
    border-top: var(--border-second-solid);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--second-filter-color);
}


/* ---------------------------------------- */
/* Tableau en attente de publication */

.table-news .table-group-divider {
    border-top: var(--border-brown-medium-solid);
}

.table-news tr:not(thead tr) {
    border-bottom: var(--border-brown-solid);
}

.table-news tbody tr:nth-of-type(odd) {
    background-color: var(--brown-filter-color);
}

.table-news th {
    color: var(--brown-color);
}


/* ---------------------------------------- */
/* Ligne de tableau archivé */

.desactivated {
    background-color: var(--brown-filter-color) !important;
}


/* ---------------------------------------- */
/* Badges du tableau */

.badge-package {
    color: var(--main-color);
    background-color: #e3b04c;
}

.badge-special {
    color: var(--main-color);
    background-color: var(--special-dark-color);
}

.table-time {
    width: 70px;
    color: var(--main-color);
    background-color: var(--first-color);
}

.table-price {
    width: 70px;
    color: var(--main-color);
    background-color: var(--brown-color);
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */


/* -------------------------------------------- */
/* TABLETTE */

@media (min-width: 768px) {

    .table-responsive {
        width: 90%;
    }
}


/* -------------------------------------------- */
/* GRAND ECRAN */

@media (min-width: 1200px) {

    .table-responsive {
        width: 70%;
    }
}